@font-face {
  font-family: "GlobotipoTextoBold";
  src: url("fonts/GLOBO_TX_BD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GlobotipoTextoRegular";
  src: url("fonts/GLOBO_TX_RG.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #fcfcfc;
}

html {
  font-family: 'GlobotipoTextoRegular', sans-serif;
  color: #4f5257;
}

a,
a:visited {
  color: inherit;
}

img, span {
  display: block;
}

.gc-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 1440px;
  padding: 120px 32px;
}

@media screen and (max-width: 700px) {
  .gc-content-wrapper {
    padding: 120px 8px;
  }
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.title-container .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-container .title-box .title-icon {
  width: 28px;
  margin-right: 8px;
}

.title-container .title-box .title {
  font-family: "GlobotipoTextoBold";
  font-size: 22px;
  color: #7241dc;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 24px 0;
  gap: 16px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .filter-container {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

.filter-container .inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.filter-container .inputs-container .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 800px) {
  .filter-container .inputs-container .input-box {
    width: 100%;
  }
}

.filter-container .inputs-container .input-box label {
  color: #4f5257;
  font-size: 14px;
}

.filter-container .inputs-container .input-box input {
  border: none;
  border-bottom: 1px #d8d8d8 solid;
  outline: none;
  min-width: 232px;
  height: 32px;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: white;
  background-image: url("/img/icons/icon-input-search.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 34px;
}

@media screen and (max-width: 800px) {
  .filter-container .inputs-container .input-box input {
    width: 100%;
  }
}

.filter-container .inputs-container .input-box input::-webkit-input-placeholder {
  color: #888888;
}

.filter-container .inputs-container .input-box input:-ms-input-placeholder {
  color: #888888;
}

.filter-container .inputs-container .input-box input::-ms-input-placeholder {
  color: #888888;
}

.filter-container .inputs-container .input-box input::placeholder {
  color: #888888;
}

.filter-container .inputs-container .input-box input:focus {
  border-bottom: 1px #7241dc solid;
}

.filter-container .inputs-container .input-box form select {
  border: none;
  border-bottom: 1px #d8d8d8 solid;
  outline: none;
  min-width: 232px;
  height: 32px;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: 'GlobotipoTextoRegular', sans-serif;
}

@media screen and (max-width: 800px) {
  .filter-container .inputs-container .input-box form select {
    width: 100%;
  }
}

.filter-container .inputs-container .input-box form select::-webkit-input-placeholder {
  color: #888888;
  opacity: .6;
}

.filter-container .inputs-container .input-box form select:-ms-input-placeholder {
  color: #888888;
  opacity: .6;
}

.filter-container .inputs-container .input-box form select::-ms-input-placeholder {
  color: #888888;
  opacity: .6;
}

.filter-container .inputs-container .input-box form select::placeholder {
  color: #888888;
  opacity: .6;
}

.filter-container .inputs-container .input-box form select:focus {
  border-bottom: 1px #7241dc solid;
}

.modal-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.modal-title-container .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-title-container .title-box .title-icon {
  width: 24px;
  margin-right: 8px;
}

.modal-title-container .title-box .title {
  font-family: "GlobotipoTextoBold";
  font-size: 18px;
  color: #7241dc;
}

.modal-title-container .icon-close-box {
  padding: 8px;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.modal-title-container .icon-close-box:hover {
  background-color: #F6F6F6;
}

.modal-title-container .icon-close-box .close-icon {
  width: 14px;
  height: 14px;
}

.modal-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 8px;
}

.modal-inputs .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-inputs .input-box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  color: #4f5257;
  font-size: 14px;
}

.modal-inputs .input-box input {
  border: none;
  border-bottom: 1px #d8d8d8 solid;
  outline: none;
  min-width: 232px;
  height: 32px;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: white;
}

.modal-inputs .input-box input::-webkit-input-placeholder {
  color: #888888;
  font-size: 12px;
}

.modal-inputs .input-box input:-ms-input-placeholder {
  color: #888888;
  font-size: 12px;
}

.modal-inputs .input-box input::-ms-input-placeholder {
  color: #888888;
  font-size: 12px;
}

.modal-inputs .input-box input::placeholder {
  color: #888888;
  font-size: 12px;
}

.modal-inputs .input-box input:focus {
  border-bottom: 1px #7241dc solid;
}

.modal-inputs .input-box form select {
  border: none;
  border-bottom: 1px #d8d8d8 solid;
  outline: none;
  width: 100%;
  height: 32px;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: 'GlobotipoTextoRegular', sans-serif;
}

.modal-inputs .input-box form select::-webkit-input-placeholder {
  color: #888888;
  opacity: .6;
}

.modal-inputs .input-box form select:-ms-input-placeholder {
  color: #888888;
  opacity: .6;
}

.modal-inputs .input-box form select::-ms-input-placeholder {
  color: #888888;
  opacity: .6;
}

.modal-inputs .input-box form select::placeholder {
  color: #888888;
  opacity: .6;
}

.modal-inputs .input-box form select:focus {
  border-bottom: 1px #7241dc solid;
}

.modal-inputs .input-box form .gc-textarea {
  margin-top: 4px;
  border: 1px #d8d8d8 solid;
  border-radius: 8px;
  width: 100%;
  height: 80px;
  padding: 8px 16px;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
  resize: none;
  font-family: 'GlobotipoTextoRegular', sans-serif;
}

@media screen and (max-width: 600px) {
  .modal-inputs .input-box form .gc-textarea {
    height: 72px;
  }
}

.modal-inputs .input-box form .gc-textarea:focus {
  border: 1px #7241dc solid;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
  gap: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px 32px;
}

@media screen and (max-width: 600px) {
  .modal-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
}

.modal-footer .modal-warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  .modal-footer .modal-warning {
    width: auto;
  }
}

.modal-footer .modal-warning .warning-icon {
  width: 12px;
  height: 12px;
}

.modal-footer .modal-warning .warning-text {
  font-size: 14px;
  color: #ff6961;
  line-height: 1.2;
}

@media screen and (max-width: 600px) {
  .modal-footer .modal-warning .warning-text {
    white-space: nowrap;
  }
}

.modal-footer .buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.primary-button {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #7241dc;
  background: linear-gradient(153deg, #7241dc 0%, #5335af 100%);
  color: white;
  font-family: "GlobotipoTextoRegular";
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 0px 32px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: .3s;
  transition: .3s;
}

.primary-button--disabled {
  opacity: .3;
}

.primary-button .primary-button-icon {
  width: 10px;
  margin-right: 6px;
}

.primary-button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.secondary-button {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  color: #7241dc;
  font-family: "GlobotipoTextoRegular";
  font-size: 16px;
  border-radius: 8px;
  border: 1px #7241dc solid;
  padding: 0px 32px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: .3s;
  transition: .3s;
}

.secondary-button:hover {
  background: #f6f6f6;
}

.gc-header-wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px #d8d8d8 solid;
  background-color: white;
  z-index: 100;
}

.gc-header-wrapper .header-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1440px;
  padding: 0 32px;
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .gc-header-wrapper .header-content-container {
    padding: 0 8px;
  }
}

.gc-header-wrapper .header-content-container .menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-right: 120px;
}

@media screen and (max-width: 800px) {
  .gc-header-wrapper .header-content-container .menu-box {
    margin-right: 0px;
    gap: 16px;
  }
}

.gc-header-wrapper .header-content-container .menu-box .menu-icon {
  width: 24px;
}

@media screen and (max-width: 800px) {
  .gc-header-wrapper .header-content-container .menu-box .menu-title {
    display: none;
  }
}

.gc-header-wrapper .header-content-container .menu-box .logo-mobile {
  width: 72px;
  display: none;
}

@media screen and (max-width: 800px) {
  .gc-header-wrapper .header-content-container .menu-box .logo-mobile {
    display: block;
  }
}

.gc-header-wrapper .header-content-container .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .gc-header-wrapper .header-content-container .logo-box {
    display: none;
  }
}

.gc-header-wrapper .header-content-container .logo-box img {
  width: 128px;
}

.gc-header-wrapper .header-content-container .user-options-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.gc-header-wrapper .header-content-container .user-options-box .notification-icon {
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.gc-header-wrapper .header-content-container .user-options-box .notification-icon:hover {
  background-color: #F6F6F6;
}

.gc-header-wrapper .header-content-container .user-options-box .notification-icon img {
  width: 24px;
}

@media screen and (max-width: 700px) {
  .gc-header-wrapper .header-content-container .user-options-box .notification-icon img {
    width: 20px;
  }
}

.gc-header-wrapper .header-content-container .user-options-box .divider {
  height: 16px;
  width: 1px;
  background-color: #d8d8d8;
  margin: 0 16px 0 8px;
}

@media screen and (max-width: 700px) {
  .gc-header-wrapper .header-content-container .user-options-box .divider {
    margin: 0 16px 0 8px;
  }
}

.gc-header-wrapper .header-content-container .user-options-box .user-greetings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  line-height: 1.2;
}

@media screen and (max-width: 700px) {
  .gc-header-wrapper .header-content-container .user-options-box .user-greetings {
    font-size: 14px;
  }
}

.gc-header-wrapper .header-content-container .user-options-box .user-greetings .hello {
  text-align: right;
}

.gc-header-wrapper .header-content-container .user-options-box .user-greetings .user-name {
  font-family: "GlobotipoTextoBold";
}

.gc-header-wrapper .header-content-container .user-options-box .exit-icon {
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.gc-header-wrapper .header-content-container .user-options-box .exit-icon:hover {
  background-color: #F6F6F6;
}

.gc-header-wrapper .header-content-container .user-options-box .exit-icon img {
  width: 24px;
}

@media screen and (max-width: 700px) {
  .gc-header-wrapper .header-content-container .user-options-box .exit-icon img {
    width: 20px;
  }
}

.gc-side-menu {
  position: fixed;
  left: 0;
  top: 0;
  padding: 120px 16px;
  height: 100%;
  width: 240px;
  background-color: white;
  border-right: 1px #d8d8d8 solid;
  border-top: 1px #d8d8d8 solid;
  z-index: 5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.gc-side-menu--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.gc-side-menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.gc-side-menu .menu-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-family: "GlobotipoTextoRegular";
  font-size: 18px;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.gc-side-menu .menu-list .list-item:hover {
  background-color: #F6F6F6;
}

.gc-side-menu .menu-list .list-item .side-menu-icon {
  width: 32px;
  height: 32px;
}

.gc-side-menu .menu-list .list-item--active {
  background-color: #F6F6F6;
}

.gc-side-menu .menu-list .list-item--active .side-menu-icon {
  -webkit-filter: invert(29%) sepia(312%) saturate(6609%) hue-rotate(248deg) brightness(88%) contrast(94%);
          filter: invert(29%) sepia(312%) saturate(6609%) hue-rotate(248deg) brightness(88%) contrast(94%);
}

.gc-side-menu .menu-list .list-item--active::before {
  content: '';
  position: absolute;
  left: -16px;
  height: 100%;
  width: 4px;
  background-color: #7241dc;
  border-radius: 20px;
}

.gc-programs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  width: 100%;
}

.gc-programs-wrapper .program-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: 144px;
  border: 1px #D8D8D8 solid;
  border-radius: 8px;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
  color: #888888;
  background-color: white;
}

@media screen and (max-width: 1440px) {
  .gc-programs-wrapper .program-card {
    width: 32.5%;
  }
}

@media screen and (max-width: 1090px) {
  .gc-programs-wrapper .program-card {
    width: 49%;
  }
}

@media screen and (max-width: 700px) {
  .gc-programs-wrapper .program-card {
    width: 100%;
  }
}

.gc-programs-wrapper .program-card:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

.gc-programs-wrapper .program-card .program-card-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 360px) {
  .gc-programs-wrapper .program-card .program-card-img-box {
    width: 20%;
  }
}

.gc-programs-wrapper .program-card .program-card-img-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30px;
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.gc-programs-wrapper .program-card .program-card-img-box img {
  height: 100%;
}

.gc-programs-wrapper .program-card .program-card-content-box {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 16px;
  overflow: hidden;
}

@media screen and (max-width: 360px) {
  .gc-programs-wrapper .program-card .program-card-content-box {
    width: 80%;
  }
}

.gc-programs-wrapper .program-card .program-card-content-box .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1240px) {
  .gc-programs-wrapper .program-card .program-card-content-box .card-header {
    margin-bottom: 8px;
  }
}

.gc-programs-wrapper .program-card .program-card-content-box .card-header::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -17px;
  height: 1px;
  width: 120%;
  background-color: #d8d8d8;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-header .program-title {
  font-family: "GlobotipoTextoBold";
  color: #4f5257;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-header .options-button {
  margin-right: 4px;
  width: 3px;
  cursor: pointer;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-info-box .info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  font-size: 14px;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-info-box .info-row:last-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-info-box .info-row .card-info {
  color: #4f5257;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-info-box .info-row .tv-status {
  color: #4acc9c;
  font-family: "GlobotipoTextoBold";
  white-space: nowrap;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-info-box .info-row .card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-info-box .info-row .card-buttons .table-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-info-box .info-row .card-buttons .table-button:hover .table-btn-text {
  color: #7241dc;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-info-box .info-row .card-buttons .table-button:hover .table-btn-icon {
  -webkit-filter: invert(29%) sepia(312%) saturate(6609%) hue-rotate(248deg) brightness(88%) contrast(94%);
          filter: invert(29%) sepia(312%) saturate(6609%) hue-rotate(248deg) brightness(88%) contrast(94%);
}

.gc-programs-wrapper .program-card .program-card-content-box .card-info-box .info-row .card-buttons .table-button .table-btn-text {
  font-size: 14px;
  font-family: "GlobotipoTextoRegular";
  color: #4f5257;
  white-space: nowrap;
}

.gc-programs-wrapper .program-card .program-card-content-box .card-info-box .info-row .card-buttons .table-button .table-btn-icon {
  width: 16px;
  margin-right: 6px;
}

.modal-background {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #16111ade;
  z-index: 9999;
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal-background--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gc-new-program-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 648px;
  height: 496px;
  padding: 24px 32px;
  background-color: white;
  border-radius: 16px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .gc-new-program-modal {
    width: 96%;
    height: 624px;
    border-radius: 8px;
    padding: 16px;
  }
}

@media screen and (max-height: 620px) {
  .gc-new-program-modal {
    height: 580px;
    width: 100%;
  }
}

.gc-new-program-modal .gc-modal-tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0;
  gap: 4px;
}

.gc-new-program-modal .gc-modal-tabs .tab-box {
  width: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-bottom: 2px #F6F6F6 solid;
  -webkit-transition: .3s;
  transition: .3s;
}

.gc-new-program-modal .gc-modal-tabs .tab-box:hover {
  border-bottom: 2px #7241dc solid;
}

.gc-new-program-modal .gc-modal-tabs .tab-box--active {
  border-bottom: 2px #7241dc solid;
}

.gc-new-program-modal .gc-modal-tabs .tab-box .tab-title {
  color: #4f5257;
}

.gc-new-program-modal .about-modal-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.gc-new-program-modal .about-modal-section .modal-img-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 600px) {
  .gc-new-program-modal .about-modal-section .modal-img-input-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gc-new-program-modal .about-modal-section .modal-img-input-container .upload-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 176px;
  height: 176px;
  border: 2px #d8d8d8 dashed;
  border-radius: 16px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 600px) {
  .gc-new-program-modal .about-modal-section .modal-img-input-container .upload-img-box {
    min-width: 120px;
    height: 120px;
    margin: auto;
  }
}

@media screen and (max-height: 620px) {
  .gc-new-program-modal .about-modal-section .modal-img-input-container .upload-img-box {
    min-width: 80px;
    height: 80px;
  }
}

.gc-new-program-modal .about-modal-section .modal-img-input-container .upload-img-box:hover {
  border: 2px #7241dc dashed;
}

.gc-new-program-modal .about-modal-section .modal-img-input-container .upload-img-box .upload-icon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 600px) {
  .gc-new-program-modal .about-modal-section .modal-img-input-container .upload-img-box .upload-icon {
    width: 24px;
    height: 24px;
  }
}

.gc-new-program-modal .about-modal-section .modal-img-input-container .upload-img-box .upload-title {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1;
}

@media screen and (max-width: 600px) {
  .gc-new-program-modal .about-modal-section .modal-img-input-container .upload-img-box .upload-title {
    font-size: 12px;
  }
}

.gc-new-program-modal .exhibition-modal-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  display: none;
}

.gc-new-program-modal .exhibition-modal-section .tv-status-options {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 16px;
  width: 100%;
}

.gc-new-program-modal .exhibition-modal-section .tv-status-options .status-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */